@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color:#12101B;
   
}
p{
  font-size:18px;
  line-height: 30px;
  color:#FFFFFFCC;
}
 
.container{
  max-width:1320px;
}
 
a,
a:hover {
  text-decoration: none;
}
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  color:#fff;
  padding: 0;
}
.primary-btn, .secondary-btn {
	padding: 12px 28px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 10px;
	text-transform: capitalize;
	position: relative;
	z-index: 9;
	transition: 0.5s;
	letter-spacing: -3%;
	border-radius: 40px;
	background: #000E1E;
}
.primary-btn i, .secondary-btn i{
  font-size: 18px;
}
.primary-btn-sm{
  padding:8px 16px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
	text-transform: capitalize;
  position: relative;
  z-index: 9;
  transition: 0.5s;
  letter-spacing: -3%;
  border-radius: 40px;
  background: linear-gradient(90deg, #0F0A05 0%, #140C04 100%);
}
 
.primary-btn:hover{
  background: #2F26A4;

}
.secondary-btn{
  background: linear-gradient(90deg, #FFB300 0%, #007BFF 100%);
  border-radius:40px;
  transition: 0.5s;
}
.secondary-btn:hover{
  background: linear-gradient(0deg, #FFB300 0%, #007BFF 100%);
}
.primary-btn i,.secondary-btn i{
  font-size: 18px;
  color:#fff;
  font-weight: 700;
}
.primary-btn img,.secondary-btn img{
  width: 20px;
}
.common-heading-section h2 {
	line-height: 72px;
	font-weight: 700;
	font-size: 62px;
}
.common-heading-section h4{
  font-size: 48px;
  font-weight: 700; 
  line-height:65px;
}
.common-heading-section h5{
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
}
.common-heading-section h6{
  font-size:24px;
  font-weight: 600;
  line-height:32px;
}
.common-heading-section p{
  margin-top:20px;
}
.common-heading-section span{
  font-size: 16px;
  font-weight: 700;
  line-height: 18.83px;
  margin-bottom: 12px;
  display: inline-block;
  color: #F5FFCC;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}
 
.mt-10{
  margin-top: 10px !important;
}
.mt-20{
  margin-top:20px;
}
.mt-70{
  margin-top: 70px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.ptb-15{
  padding-top:15px;
  padding-bottom: 15px;
}
.ptb-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.rotate-50 {
  transform: rotate(-50deg);
}
.btn-group ul{
  gap:20px;
}
.g-8{
  gap: 8px;
}
.g-30{
  gap: 30px;
}
.g-20{
  gap:20px;
}
.p-20{
  padding: 20px;
}
.mt-25{
  margin-top: 25px;
}

.mt-30{
  margin-top:20px;
}
.line-1{
  height:2px;
  width: 100%;
  background:#FFFFFF1A;
}
.line-2{
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(217, 217, 217, 0) 100%);

}
.mt-40{
  margin-top: 40px;
}
.mt-100{
  margin-top: 100px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-20{
  margin-bottom: 20px;
}

 
button,button:active{
  outline: none;
  border: none !important;
 }
 button:focus:not(:focus-visible){
  color:#fff;
  box-shadow: 0 0 0  rgba(13, 109, 253, 0);
 }
.border-gradient::after {
	content: '';
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -2px;
	right: -2px;
	z-index: -1;
	border-radius:40px;
  background:linear-gradient(90deg, #FFB300 0%, #007BFF 100%);
}
.border-gradient{
  background-color: #4B4B4B;
	position: relative;
	border: 1px solid transparent;
	background-clip: padding-box;
  border-radius:40px;
  color: #fff;
  transition: 0.5s;
}
.border-gradient-4::after {
	content: '';
	position: absolute;
	top: -1.5px;
	left: -1.5px;
	right: -1.5px;
	bottom: -1.5px;
	z-index: -1;
	border-radius: inherit;
  
	background: linear-gradient(90deg, #FFB300 0%, #007BFF 100%);
}
.border-gradient-4:hover{
  background: linear-gradient(90deg, #FFB300 0%, #007BFF 100%);
}
.border-gradient-4 {
  position: relative;
  display: inline-block;
  z-index: 9;
  padding:1.5px; /* Matches the border thickness */
  border-radius: 10px; /* Consistent with inner element */
  background: linear-gradient(90deg, #FFB300 0%, #007BFF 100%);
}
.border-gradient-2::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: inherit; /* Matches the parent's border-radius */
  background: linear-gradient(90deg, rgba(255, 179, 0, 0.6) 0%, rgba(0, 123, 255, 0.6) 100%);
}
 
.border-gradient-2:hover{
  background: linear-gradient(0deg, #007BFF 0%, #8A2BE2 100%);
}
.border-gradient-2 {
  position: relative;
  display: inline-block;
  padding:1px; /* Matches the border thickness */
  border-radius: 20px; /* Consistent with inner element */
  background: #FFFFFF0D;
}
.border-gradient-3::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	border-radius: inherit;
	background: linear-gradient(153.59deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 48.38%, rgba(255, 255, 255, 0) 100%);
}
.border-gradient-3 {
  position: relative;
  display: inline-block;
  padding: 2px; /* Matches the border thickness */
  border-radius:20px; /* Consistent with inner element */
  background: rgba(255, 255, 255, 0.03);
}
.btn-3 {
	font-size: 18px;
	font-weight: 600;
	padding: 6px 20px;
	display: inline-block;
	line-height: 27px;
	color: #fff;
	text-align: center;
	border-radius: 40px;
	background: transparent;
}
.rotate-box {
	animation: rotate360 10s linear infinite;
}
.zoom-animation {
	animation: zoomIn 2s infinite ease-in-out alternate;
}
.animation-up {
	position: absolute;
	z-index: -2 !important;
	animation: moveUp 3s linear infinite alternate;
}
.moveUp-long {
	animation: moveUp-long 12s linear infinite alternate;
}
@keyframes moveUp-long {
  0% {
    transform: translateY(-150px);
  }
   
  100% {
    transform: translateY(20px);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
 
@keyframes rotate360 {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
 
.white-border-gradient::after {
	content: '';
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	z-index: -1;
	border-radius:40px;
  background:linear-gradient(90deg, #FFFFFF 0%, #4A4A49 100%);
	border-radius:40px;
}
.white-border-gradient:hover::after {
  background:linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
}
.white-border-gradient{
  background-color: #4B4B4B;
	position: relative;
	border: 1px solid transparent;
	background-clip: padding-box;
  border-radius:40px;
  color: #fff;
  transition: 0.5s;
}

.circle-icon i{
  color:#fff;
  font-size: 25px;
}
.circle-icon{
  border: 5px solid #007BFF;
  display: flex;
  align-items: center;
  color:#fff;
  height:60px;
  width: 60px;
  border-radius: 50%;
  justify-content: center;
}
.shape-btn a{
  color:#fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
.shape-btn::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height:125px;
  transition: 0.5s;
  width:250px;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url('../images/bg/shape.png');
}
.shape-btn:hover::after{
  opacity: 0.7;
}
.shape-btn-text{
  padding-left: 32px;
}
.circle-1 {
	height: 132px;
	width: 132px;
	position: absolute;
	left:2%;
	top:15%;
}
.circle-2 {
	height: 175px;
	width: 175px;
	position: absolute;
	right:5%;
	top:21%;
}
.shape-2 {
	height: 132px;
	width: 132px;
	position: absolute;
	left:2%;
	top:50%;
  transform: translateY(-50%);
}
.shape-3 {
	height:300px;
	width:310px;
	position: absolute;
	right:0%;
	top:50%;
}
.gradient-btn{
  font-size: 18px;
  font-weight: 600;
  color:#fff;
  padding: 12px 20px;
  background: linear-gradient(90deg, #8A2BE2 0%, #007BFF 100%);
  border-radius: 56px;
  transition: 0.5s;
}
.gradient-btn:hover{
  background: linear-gradient(0deg, #8A2BE2 0%, #007BFF 100%);
}
.plan-footer .gradient-btn:hover{
  background: #fff;
  color:#007BFF;
}
.gradient-color {
  background: linear-gradient(90deg, #8A2BE2 0%, #007BFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
 
.p-20{
  padding: 20px !important;
}
.rectangle{
  width: 400px;
  height: 400px;
  background: #007BFF;
  opacity: 0.7;
  filter: blur(150px);
  transform: rotate(-54.34deg);
  position: absolute;
  left: 0;
  right: 0;
  top:10%;
  margin: 0 auto;
  z-index: -2;
}
.rectangle-2{
  width: 400px;
  height: 400px;
  background: #1A8E4617;
  opacity: 0.9;
  filter: blur(150px);
  transform: rotate(-54.34deg);
  position: absolute;
  left: 0;
  top:40%;
  z-index: -2;
}
.rectangle-code{
  width: 400px;
  height: 400px;
  opacity: 0.9;
  filter: blur(150px);
  transform: rotate(-54.34deg);
  position: absolute;
  z-index: -2;
}
.rectangle-code-1{
  background: #007BFF26;
  left: 0;
  top:0%;
  opacity:1;
}
/* Ellipse 1881 */
.ellipse{
  position: absolute;
  width:250px;
  background: rgba(0, 123, 255, 0.2);
  filter: blur(150px);
  height:250px;
}
.ellipse-1{
  left: 0;
  right: 0;
  z-index: -2;
  margin:0 auto;
}
.circle-10{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -2;
}
