.land-category-section {
    position: relative;
    background-image: url('../images/bg/bg-2.png');
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.01);
    padding: 120px 0;
}